# Android / Gradle
.gradle/
**/build/
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Kotlin / Java
*.class

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# Keystore
*.jks
*.keystore

# Generated
captures/
.externalNativeBuild/
.cxx/

.env.server

dRecursos/
